openapi: 3.2.0
info:
  title: Bolt Eu Generic Client API
  version: '1.0'
  contact:
    url: https://developer.bolt.eu/
  license:
    name: Bolt Terms and Conditions
    url: https://bolt.eu/en/legal/
  x-endpoints-modeled: false
  x-schemas-summarized: true
  x-refined-note:
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged GenericClient across 3 of this provider''s published API definitions: bolt-eu-delivery-openapi.yml, bolt-eu-food-openapi.yml, bolt-eu-stores-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://node.bolt.eu/delivery-provider-pos
  description: Production
security:
- boltHmacSignature: []
tags:
- name: GenericClient
paths:
  /genericClient/pushMenu:
    post:
      operationId: genericClient-pushMenu
      summary: Push menu
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/pushMenu).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/getMenu:
    post:
      operationId: genericClient-getMenu
      summary: Get menu
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/getMenu).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/updateMenuItemAvailability:
    post:
      operationId: genericClient-updateMenuItemAvailability
      summary: Update menu item availability
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/updateMenuItemAvailability).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/acceptOrder:
    post:
      operationId: genericClient-acceptOrder
      summary: Accept order
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/acceptOrder).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/rejectOrder:
    post:
      operationId: genericClient-rejectOrder
      summary: Reject order
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/rejectOrder).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/markOrderAsReadyForPickup:
    post:
      operationId: genericClient-markOrderAsReadyForPickup
      summary: Mark order as ready for pickup
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/markOrderAsReadyForPickup).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/markOrderAsPickedUp:
    post:
      operationId: genericClient-markOrderAsPickedUp
      summary: Mark order as picked up
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/markOrderAsPickedUp).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/markOrderAsDelivered:
    post:
      operationId: genericClient-markOrderAsDelivered
      summary: Mark order as delivered
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/markOrderAsDelivered).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/waiter/createOrder:
    post:
      operationId: genericClient-waiter-createOrder
      summary: 'Dine-in (waiter): create order'
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/waiter/createOrder).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/waiter/finalizeOrder:
    post:
      operationId: genericClient-waiter-finalizeOrder
      summary: 'Dine-in (waiter): finalize order'
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/waiter/finalizeOrder).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/startAcceptingOrders:
    post:
      operationId: genericClient-startAcceptingOrders
      summary: Start accepting orders
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/startAcceptingOrders).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/pauseOrders:
    post:
      operationId: genericClient-pauseOrders
      summary: Pause orders
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/pauseOrders).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/updateProviderSchedule:
    post:
      operationId: genericClient-updateProviderSchedule
      summary: Update provider schedule
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/updateProviderSchedule).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/updateMenuQuantity:
    post:
      operationId: genericClient-updateMenuQuantity
      summary: Update menu quantity
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/updateMenuQuantity).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/markOrderWithItemsAsReadyForPickUp:
    post:
      operationId: genericClient-markOrderWithItemsAsReadyForPickUp
      summary: Mark order with items as ready for pick up
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/markOrderWithItemsAsReadyForPickUp).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/v2/markOrderWithItemsAsReadyForPickup:
    post:
      operationId: genericClient-v2-markOrderWithItemsAsReadyForPickup
      summary: Mark order with items as ready for pickup
      description: Documented upstream at https://developer.bolt.eu/delivery/main/ (/genericClient/v2/markOrderWithItemsAsReadyForPickup).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
  /genericClient/getOrderBasket:
    post:
      operationId: genericClient-getOrderBasket
      summary: Get order basket
      description: Documented upstream at https://developer.bolt.eu/stores/main/ (/genericClient/getOrderBasket).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizedRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizedResponse'
      tags:
      - GenericClient
    servers:
    - url: https://node.bolt.eu/delivery-provider-pos
      description: Production
components:
  schemas:
    SummarizedRequest:
      type: object
      description: Request body summarized - see the official Bolt developer portal for the full documented schema of each operation.
      additionalProperties: true
    SummarizedResponse:
      type: object
      description: Response body summarized - see the official Bolt developer portal for the full documented schema of each operation.
      additionalProperties: true
  securitySchemes:
    boltHmacSignature:
      type: apiKey
      in: header
      name: x-external-integrator-id
      description: Partner-gated HMAC request signing. Every request carries the integrator ID in `x-external-integrator-id` plus a `x-server-authorization-hmac-sha256` header containing the base64-encoded HMAC-SHA256 signature of the raw payload, computed with a secret key issued by Bolt. Webhook calls from Bolt to the partner authenticate with Basic auth or a partner-hosted identity server issuing bearer tokens.
x-refined-from:
- bolt-eu-delivery-openapi.yml
- bolt-eu-food-openapi.yml
- bolt-eu-stores-openapi.yml
